#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# ubuntu : /etc/php/7.1/fpm/pool.d/www.conf
[www]
user = nginx
group = nginx
listen = 127.0.0.1:9000
listen.backlog = 65535
listen.owner = nginx
listen.group = nginx
request_terminate_timeout = 600s
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
