#jinja2: lstrip_blocks: "True", trim_blocks: "True"
input {
    beats {
        port => 5044
    }
}

output {
    if [type] == "nginx" {
        elasticsearch {
            hosts => ["http://localhost:9200"]
            index => "nginx-%{[beat.version]}-%{+YYYY.MM.dd}"
        }
    }

    if [type] == "laravel" {
        elasticsearch {
            hosts => ["http://localhost:9200"]
            index => "%{[@metadata][beat]}-%{[@metadata][version]}-laravel-%{+YYYY.MM.dd}"
        }
    }
}